body{
    margin: 0;
    padding: 0;
    font-family: var(--font-family);
    background-color: var(--background-color);
}
h1, h2, h3, h4, h5, h6{
    margin: 0;
    line-height: var(--line-height-heading);
}
*{
    scroll-behavior: smooth;
    box-sizing: border-box;
    color: var(--text-color);
    transition-property: all;
    transition-duration: var(--transition-duration);
    transition-timing-function: var(--transition-function);
    line-height: var(--line-height-base);
}

.bg-primary{
    background-color: var(--primary-color);
}
.bg-secondary{
    background-color: var(--secondary-color);
}
.bg-gray{
    background-color: var(--gray-color);
}

.navbar{
    position: sticky;
    top: 0;
    z-index: 2;
    background-color: var(--background-color);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    padding: calc(var(--spacing-md)*1.5);
    *{
        margin: 0;
        padding: 0;
        color: var(--primary-color);
    }
    h1{
        color: var(--text-color);
    }
    ul{
        list-style: none;
        display: flex;
        align-items: center;
    }
    
    a{
        text-decoration: none;
        font-weight: var(--font-weight-regular);
    }
    a:not([href]){
        cursor: default;
    }

    li{
        position: relative;
    }
    
    li a{
        display: block;
        margin: 0 calc(var(--spacing-sm)*1.5);
    }
    li a>*{
        vertical-align: middle;
    }
    .dropdown{
        display: block;
        position: absolute;
        z-index: 2;
        width: 100%;
        min-width: fit-content;
        right: 0;
        max-height: 0;
        height: fit-content;
        background-color: var(--white-color);
        overflow: hidden;
    }
    li:hover .dropdown{
        box-shadow: var(--box-shadow-sm);
        padding-top: var(--spacing-sm);
        padding-bottom: var(--spacing-sm);
        max-height: 500px;
    }
    .nav-items li a::after{
        content: '';
        display: block;
        margin-left: 50%;
        width: 0;
        height: 2px;
        background-color: var(--primary-accent-color);
        transition-duration: var(--transition-duration);
        transition-timing-function: var(--transition-function);
    }
    li a:hover::after{
        margin-left: 0;
        width: 100%;
    }
    li a:hover{
        color: var(--primary-accent-color);
    }
    
    li a.active{
        color: var(--primary-accent-color);
        font-weight: var(--font-weight-bold);
    }
}
.nav-items{
    display: block ;
    transition-property: none;
}
.toggle-menu-icon{
    display: none;
}


.fa{
    font-size: larger;
    color: var(--text-color);
}

@media screen and (max-width: 768px) {
    .toggle-menu-icon{
        display: block;
    }
    .navbar {
        .nav-items{
            overflow: hidden;
            max-height: 0;
            width: 100%;
            display: flex;
            align-items: start;
            flex-direction: column;
            order: 100;
            transition-property: all;
        }
        .nav-items li{
            width: fit-content;
            margin-top: var(--spacing-md);
        }
        .nav-items.visible{
            margin-top: var(--spacing-md);
            max-height: 1000px;
            width: 100%;
        }
        .dropdown{
            display: none;
        }
        .dropdown-btn>i{
            display: none;
        }
        a{
            cursor: pointer;
        }
        a:not([href]){
            cursor: pointer;
        }
    }
}

.contact-us-link{
    display: none;
}
@media screen and (max-width: 480px) {
    .contact-us-btn{
        display: none;
    }
    .contact-us-link{
        display: block;
    }
}

.btn{
    text-decoration: none;
    padding: var(--spacing-sm) var(--spacing-md);
    border: none;
    background-color: var(--primary-color);
    color: var(--white-color);
    border: var(--divider-sm) solid transparent;
    cursor: pointer;
    font-size: var(--font-weight-regular);
    i, span{
        color:var(--white-color)
    }
}
.btn:hover{
    border-color: var(--primary-color);
    background-color: var(--white-color);
    color: var(--primary-color);
    i,span{
        color: var(--primary-color);
    }
} 

.uppercase{
    text-transform: uppercase;
}

.txt-bold{
    font-weight: var(--font-weight-bold);
}


.floating-up-btn{
    z-index: 100;
    position: fixed;
    bottom: 40px;
    right: 40px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: var(--box-shadow-md);
}
.floating-up-btn .fa-angle-up{
    color: var(--white-color);
}
.floating-up-btn:hover .fa-angle-up{
    color: var(--primary-color);
}

@media screen and (max-width:480px) {
    .floating-up-btn{
        bottom: 10px;
        right: 10px;
    }
}
.full-height{
    min-height: 100vh;
}
.bg-gray{
    background-color: var(--gray-color);
}

.bg-primary{
    background-color: var(--primary-color);
}

.bg-secondary{
    background-color: var(--secondary-color);
}
.flex{
    display: flex;
}
.flex-col{
    flex-direction: column;
}
.flex-center{
    justify-content: center;
    align-items: center;
}
.space-between{
    justify-content: space-between;
}
.px-sm{
    padding-left: var(--spacing-sm);
    padding-right: var(--spacing-sm);
}
.px-md{
    padding-left: var(--spacing-md);
    padding-right: var(--spacing-md);
}
.px-lg{
    padding-left: var(--spacing-lg);
    padding-right: var(--spacing-lg);
}
.py-sm{
    padding-top: var(--spacing-sm);
    padding-bottom: var(--spacing-sm);
}
.py-md{
    padding-top: var(--spacing-md);
    padding-bottom: var(--spacing-md);
}
.py-lg{
    padding-top: var(--spacing-lg);
    padding-bottom: var(--spacing-lg);
}
.pd-md{
    padding: var(--spacing-md);
}
.pd-lg{
    padding: var(--spacing-lg);
}
.pr-sm{
    padding-right: var(--spacing-sm);
}

.mb-md{
    margin-bottom: var(--spacing-md);
}

.my-md{
    margin-top: var(--spacing-md);
    margin-bottom: var(--spacing-md);
}

.border-md{
    border-radius: var(--border-radius-md);
}

.container{
    max-width: calc(var(--breakpoint-lg));
    margin: auto;
}

.txt-center, .text-center{
    text-align: center;
}
.text-right{
    text-align: right;
}

.overflow-hidden{
    overflow: hidden;
}
img{
    width: 100%;
    object-fit: cover;
}

.section .title{
    font-size: calc(var(--font-size-xlarge)*1.5);
    font-weight: var(--font-weight-bolder);
}

.banner{
    background-size: cover;
    background-position: center;
    min-height: calc(var(--breakpoint-md)/1.5);
    height: calc(100vh - 70px);
    display: flex;
    align-items: center;
}
.banner-content{
    margin: 0 var(--spacing-lg);
    max-width: calc(var(--breakpoint-sm)*1.1);
    height: min-content;
}
.banner-filter{   
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: #7dc6b56e;
    backdrop-filter: blur(2px);
}
.banner-content>*:not(:last-child){
    margin-bottom: var(--spacing-lg);
}

.welcome *{
    margin-bottom: var(--spacing-md);
}
.welcome img{
    max-width: var(--breakpoint-xlg);
}
.welcome header{
    max-width: calc(var(--breakpoint-sm)*1.3);
    text-align: justify;
}
.welcome .title::after{
    margin-top: var(--spacing-md);
    
    margin-left: 20%;
    margin-right: 20%;
    content: '';
    display: block;
    height: 2px;
    background-color: var(--primary-color);
}

.courses{
    text-align: center;
}

.courses>*:not(:last-child){
    margin-bottom: var(--spacing-md);
}

.courses-list{
    display: grid;
    grid-template-columns: auto auto auto;
    gap: var(--spacing-lg);
    padding-bottom: var(--spacing-md);
}



.courses-list .course>*:not(:last-child){
    margin-bottom: var(--spacing-md);
}

.courses-list .course{
    text-align: left;
    border-radius: var(--border-radius-md);
    overflow: hidden;
    box-shadow: var(--box-shadow-sm);
}
.courses-list .course>*:not(img){
    padding: 0 var(--spacing-md);
}

.courses-list .course p{
    text-align: justify;
}

@media screen and (max-width: 768px) {
    .courses-list{
        grid-template-columns: auto auto;
    }

    .courses-list .course:last-child{
        display: none;
    }
}
@media screen and (max-width: 480px) {
    .courses-list{
        grid-template-columns: auto;
    }

    .courses-list .course:last-child{
        display: block;
    }
}

.activities{
    text-align: center;
}

.activities .activity-title{
    color: var(--primary-color);
}
.activities .activities-list{
    display: flex;
    flex-direction: column;
    gap: var(--spacing-lg);
}

.activities .activity{
    display: flex;
    min-height: 300px;
}
.activities .activity>*{
    flex: 1;
}

.activities .activity .activity-image img{
    height: 100%;
}

.activities .activity .activity-content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.activities .activity .activity-date{
    display: block;
    text-align: right;
    font-size: var(--font-size-small);
}

@media screen and (max-width: 768px) {
    .activities .activity{
        flex-direction: column;
    }
    
}

.divider{
    height: var(--divider-md);
    background-color: var(--primary-color);
}
.contacts .contact-form{
    display: flex;
    align-items: center;
    
    .title>*{
        display: block;
    }
    .title{
        text-align: center;
        margin-right: var(--spacing-lg);
        .icon{
            animation:fly 2s ease-in-out alternate infinite;
        }
        i{
            font-size: calc(var(--font-size-xlarge)*2.5);
            animation: rot 0.7s linear alternate infinite;
        }
    }
}
@keyframes fly{
    0%{
        transform: translateX(-50px);
    }
    100%{
        transform: translateX(50px);
    }
}
@keyframes rot{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(30deg);
    }
}
.contacts .contact-form>*{
    flex: 1;
}
.contacts .contact-form form{
    padding: var(--spacing-lg) 0;
    div:not(:last-child){
       margin-bottom: var(--spacing-md); 
    }
    button{
        border-radius: var(--border-radius-md);
        min-width: 100px;
    }
    label{
        display: block;
        margin-bottom: var(--spacing-sm);
    }
    input, textarea{
        width: 100%;
        padding: var(--spacing-sm);
    }
    textarea{
        transition: none;
        resize: vertical;
        height: 80px;
    }
}
.contacts .contact-list{
    display: flex;
    flex-wrap: wrap;
    border-top: var(--divider-md) solid var(--primary-color);
    padding-top: var(--spacing-md);
    i{
        font-size: var(--font-size-xlarge);
    } 
    i.false-size{
        font-size: calc(var(--font-size-xlarge)*0.885);
    }
    a{
        display: flex;
        align-items: center;
        gap: var(--spacing-md);
        width: fit-content;
        text-decoration: none;
        padding: var(--spacing-sm);
        span{
            border-bottom: var(--divider-sm) solid transparent;
        }
    }
    a:hover span{
        border-color: var(--primary-color);
        color:var(--primary-color);
    }
}
@media screen and (max-width: 768px) {
    .contacts .contact-form>*{
        width: 100%;
    }
    .contacts .contact-form{
        flex-direction: column;        
        .title i{
            font-size: calc(var(--font-size-xlarge)*1.5);
        }
        .title *{
            margin: 0;
            line-height: 1;
            height: fit-content;
        }
    }
}
.stripe:nth-child(even){
    background-color: var(--secondary-color);
    .flex-same{
        flex-direction: row-reverse;
    }
}
.flex-same{
    display: flex;
    gap: var(--spacing-md);
    align-items: center;
}
.flex-same>*{
    flex: 1;
}
.section ul{
    list-style-type: none;
    font-weight:initial;
    margin: 0;
    padding: 0;
} 
.section ul>li::before{
    content: '-';
    margin-right: var(--spacing-sm);
} 
.section ol{
    font-weight: var(--font-weight-bold);
    margin: 0;
    padding: 0;
    padding-left: var(--spacing-md);
}

@media screen and (max-width: 768px) {
    .stripe .flex-same{
        flex-direction: column;
    }
    .stripe:nth-child(even){
        .flex-same{
            flex-direction: column;
        }
    }
}

.swiper .swiper-slide{
    min-height: 250px;
}
.swiper-pagination{
    position: relative !important;
    margin-top: var(--spacing-lg);
    top: unset;
    left: unset;
    bottom: unset;
    right: unset;
    scale: 1.4;
    padding: 5px;
    .swiper-pagination-bullet-active{
        background-color: var(--primary-color);
        scale: 1.2;
    }
}
.swiper-navigation-button{
    background-color: var(--primary-color);
    width: auto !important;
    aspect-ratio: 1;
    border-radius: var(--border-radius-md);
    border: var(--divider-md) solid transparent;
}
.swiper-navigation-button::after{
    font-size: var(--font-size-xlarge) !important;
    font-weight: var(--font-weight-bold);
    color: var(--white-color);
}
.swiper-navigation-button:hover{
    background-color: var(--white-color);
    border-color: var(--primary-color);
}
.swiper-navigation-button:hover::after{
    color: var(--primary-color);
}

.developper{
    margin-top: -20px;
    background-color: var(--secondary-color);
    text-align: center;
    a{
        text-decoration: none;
    }
    a:hover{
        color: var(--primary-color);
    }
}


.search-form{
    border: var(--divider-sm) solid var(--primary-color);
    height: 40px;
    width: fit-content;
    margin: auto;
    border-radius: var(--border-radius-md);
    overflow: hidden;
    background-color: var(--white-color);
    input{
        -webkit-appearance: none; /* Disable default search input styles in WebKit browsers */
        appearance: none;
        padding-left: var(--spacing-sm);
        height: 100%;
        border: none;
        width: 300px;
    }
    input:focus{
        /* border: none; */
        outline: none;
        color: var(--primary-color);
        font-size: var(--font-weight-regular);
        font-weight: var(--font-weight-bold);
    }
    .btn{
        height: 100%;
        border-radius: 0;
        border:none;
        padding: 0 var(--spacing-sm);
        border-left: var(--divider-sm) solid transparent;
    }

    .btn:hover{
        /* background-color: var(--primary-accent-color); */
        border: none;
        border-left: var(--divider-sm) solid var(--primary-color);
    }
}

@media screen and  (max-width: 480px){
    .search-form{
        input{
            width: 200px;
        }
        .btn>span{
            display: none;
        }
    }
    
}

.cart{
    width:300px;
    border-radius: var(--border-radius-md);
    overflow: hidden;
    box-shadow: var(--box-shadow-md);
    margin-bottom: 15px;
    height: fit-content;
    .cart-image{
        img{
            min-height: 250px;
            object-fit: cover;
        }
    }
    .cart-content{
        padding: var(--spacing-sm);
        p{
            text-align: justify;
        }
    }
}
.overlay{
    position: fixed; /* Sit on top of the page content */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.638); /* Black background with opacity */
    z-index: 300; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
    display: flex;
    justify-content: center;
    align-items: center;

    div{
        position: relative;
        cursor: default;
        width: fit-content;
        height: min-content;
        padding: 0;
    }
    .close{
        background-color: transparent;
        border: none;
        cursor: pointer;
        position: absolute;
        z-index: 301;
        right: -8px;
        top:-5px;
        i{
            color: red;
            font-size: var(--font-size-large);
        }
        margin: var(--spacing-sm);
    }
    .close:hover i{
        transform: scale(1.2);
    }
    .dropdown.nav-items{
        background-color: var(--white-color);
        padding: var(--spacing-lg);
        display: flex;
        flex-direction: column;
        gap: var(--spacing-md);
        margin: 0;
        border-radius: var(--border-radius-sm);
        li{
            list-style: none;
            margin: 0;
            padding: 0;
        }  
        a{
            text-decoration: none;
            padding: var(--spacing-sm);
            color: var(--primary-color);
            font-weight: var(--font-weight-regular);
            border-radius: var(--border-radius-sm);
            position: relative;
        }
        a::before{
            content: '';
            position: absolute;
            width: 0px;
            height: 2px;
            background-color: var(--primary-color);
            bottom: 0;
            left: 0;
            transition: all 0.5s ease-in-out;
        }
        a:hover::before{
            width: 100%;
        }
        a:hover{
            font-weight: var(--font-weight-bold);
        }
    }
}
/* .overlay>div{
    
} */

.hidden{
    display: none;
}