
<a href="#" class="btn floating-action-btn scroll-top hidden"><i class="fa-solid fa-angle-up"></i></a>
<nav class="navbar">
    <a href="index.html" class="logo"><h1 class="uppercase txt-bold">Esperanto</h1></a>
    <ul class = "nav-items">
        <li><a href="index.html" class="active">Home</a></li>
        <li><a href="about.html">About Us</a></li>
        <li>
            <a class="dropdown-btn">Activities <i class="fa-solid fa-caret-down"></i></a>
            <ul class="dropdown nav-items">
                <li>
                    <a href="activities.html">All Events</a>
                </li>
                <li>
                    <a href="#">Academic</a>
                </li>
                <li>
                    <a href="#">Graduation</a>
                </li>
                <li>
                    <a href="#">Extracurricular</a>
                </li>
                <li>
                    <a href="#">Partnership</a>
                </li>
                <li>
                    <a href="#">Training and workshop</a>
                </li>
            </ul>
        </li>
        <li><a href="courses.html">Courses</a></li>
        <li>
            <a class="dropdown-btn">Archives <i class="fa-solid fa-caret-down"></i></a>
            <ul class="dropdown nav-items">
                <li>
                    <a href="bepc.html">BEPC</a>
                </li>
                <li>
                    <a href="bac.html">Bac</a>
                </li>
                <li>
                    <a href="exam.html">Exams</a>
                </li>
                <li>
                    <a href="document.html">Documents</a>
                </li>
            </ul>
        </li>
        <li class = "contact-us-link">
            <a href="#contacts">Contact Us</a>
        </li>
    </ul>
    <ul>
        <li class="contact-us-btn">
            <a href="#contacts" class="btn uppercase txt-bold">
                Contact us
            </a>
        </li>
        <li class="toggle-menu-icon">
            <a href="javascript:void(0);" class="icon show-hide" onclick="">
                <i class="fa fa-bars"></i>    
            </a>
        </li>
    </ul>
</nav>